@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
.body {
    background: center;
    margin-top: 120px;
    margin-bottom: 120px;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.container{
    position: relative;
    text-align: center;
    color: white;
}
.about {
    text-align: center;
}
.services {
    background: url("../image/backgrounds/s_image.jpg");
    position: relative;
    left: 0;
    top: 0;
    height: 40vh;
    color: white;
    text-align: center;
}
.we {
    text-align: center;
}
.show1 {
    display: none;
}
.show2 {
    display: none;
}
.show3 {
    display: none;
}
.contact {
    background: url("../image/backgrounds/c_image.jpg");
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    color: transparent;
    text-align: center;
}
.social-icons{
    text-align: center;
    padding: 20px;
}
