.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container {
    position: relative;
    text-align: center;
    color: currentColor;
}

body {
    background: center;
    margin-top: 120px;
    margin-bottom: 120px;
}
.services {
    background: url("../image/backgrounds/s_image.jpg");
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    height: 40vh;
    color: white;
}
.services > h3 {
    font-size: 8vw;
}
